extends layout

block content
  html(lang='en')
    head
    body
      h1 Hardware Issues
      #container.col
        h2 Hardware Issues
        h3 $10000
        
        h4 How to Identify and Resolve Hardware Failure Issues
        p
          | Do you ever find problems with your computer?
          br
          |      Uninstalled and reinstalled software and find there's still something wrong?
          br
          |       This article will tell you how to identify and resolve issues regarding computer hardware failure if you're using a Windows operating system.
        br
        h4 Running chkdsk from the command line
        p
          | "Click Start, type cmd, then right click cmd and select Run as Administrator.
          | Type chkdsk without parameters to see the status of the disk.
          br
          | Changes to computer settings: Undo any recent changes to your computer's settings, and try launching the software again.
          | For example, the Windows Control Panel includes an option to "Set Program Access and Defaults," which allows you to disable access to certain applications.
        button Buy Now!