extends layout

block content
  html(lang='en')
    head
    body
      h1 Software Issues
      #container.col
        h2 Software Issues
        h3 $5000
        
        h4 Free up RAM by closing other open programs
        p
          | Every piece of software uses Random Access Memory (RAM).
          br
          |      The more software that's running on your computer, the more RAM it uses.
          br
          |       This can be especially problematic if you're using older machines that don't have a lot of RAM.
        br
        h4 Undo any recent hardware or software changes
        p
          | "Conflicts with other software: Newly installed software may conflict with other software. For example, Symantec Norton Antivirus can conflict with competing antivirus products
          | So, if you recently installed another antivirus program and Norton Antivirus no longer works correctly, uninstalling the other antivirus product could solve your problem.
          br
          | Changes to computer settings: Undo any recent changes to your computer's settings, and try launching the software again.
          | For example, the Windows Control Panel includes an option to "Set Program Access and Defaults," which allows you to disable access to certain applications.
        button Buy Now!