extends layout

block content
  html(lang='en')
    head
    body
      h1 Virus Removal 
      #container.col
        h2 Virus Removal
        h3 $250
        
        p
          | Today’s threat landscape is changing fast. 
          br
          |       Watch this quick video to see how Malwarebytes keeps you secure.
          br
          |       Discover protection that lets you experience your digital world with confidence.
        br
        p
          | "Antivirus" and "anti-malware" both refer to software that detects
          | and protects against malicious software (aka "malware").
          br
          | Contrary to its name, antivirus software protects against more
          | than viruses. But, detection is where it stops.
        button Buy Now!
        
      
        